<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Licht Experimental" value="https://pkgs.dev.azure.com/jenskrumsieck/Licht/_packaging/Licht/nuget/v3/index.json" />
        <add key="Silk.NET Experimental" value="https://dotnet.github.io/Silk.NET/nuget/experimental/index.json" />
    </packageSources>
</configuration>